<!-- Generated template for the SliderComponent component -->

<div id="slider" #slider>
  <figure class="cd-image-container is-visible">
    <img [src]="image1Src" alt="Image 1">
    <span #image1Span class="cd-image-label logo" [ngStyle]="{'visibility': visibility1}"><img src="assets/images/logo-prizem.png" alt="Logo Image"></span>

    <div class="cd-resize-img" #cdresize [ngClass]="{'resizable': flagResize==true}" [ngStyle]="{'width': widthValue}">
      <img [src]="image2Src" alt="Image 2">
      <span #image2Span class="cd-image-label" [ngStyle]="{'visibility': visibility2}">Standard Lens</span>
    </div>

    <span id="cd-handle" #cdhandle class="cd-handle" [ngClass]="{'draggable': flagDrag==true}" [ngStyle]="{'left': widthValue}">
      <div class="cd-handle-center" (touchstart)="touchstart($event);"
           (touchmove)="touchmove($event);" (touchend)="touchend($event);" (mousedown)="mousedown($event);"
              (mousemove)="mousemove($event);" (mouseup)="mouseup($event);"></div>
    </span>
  </figure>
</div>
